<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>msc-select Example || Ryerson Library Material-Stencil Components</title>
  <script src="/dist/rl-msc.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class='demo-content'>
  <script>
  
  </script>
  <msc-select select-width="300">
    <li class="mdc-list-item" data-value=""></li>
    <li class="mdc-list-item" data-value="apples">Fuji, Red Delicious</li>
    <li class="mdc-list-item" data-value="orange">Mandarin, Naval</li>
  </msc-select>

  <msc-select native select-width="300">
    <option class="mdc-list-item" disabled selected></option>
    <option class="mdc-list-item" value="apples">Fuji, Red Delicious</option>
    <option class="mdc-list-item" value="orange">Mandarin, Naval</option>
  </msc-select>
</div>
</body>
</html>