<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>msc-button Example || Ryerson Library Material-Stencil Components</title>
  <script src="/dist/rl-msc.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style>
    :root {
      --mdc-theme-primary: red;
    }
  </style>
</head>
<body class='demo-content'>
  <msc-button>Default button</msc-button>
  <msc-button outlined>Outlined button</msc-button>
  <msc-button disabled>Disabled button</msc-button>
  <msc-button dense>Dense button</msc-button>
  <msc-button raised disabled>Raised button</msc-button>
  <msc-button unelevated>Unelevated button</msc-button>
  <msc-button icon="event">Icon button</msc-button>
  <msc-button icon="event" trailing>Trailing Icon button</msc-button>
  <msc-button label="label"></msc-button>
</div>
</body>
</html>